---
import Layout from "@/layouts/Layout.astro";
import Navigation from "@/components/organisms/Navigation.astro";
---

<Layout lang="en">
  <Navigation />
  <h1 class="text-6xl text-blue-400">H1</h1>
</Layout>
